@model EliteK9.Models.EmailModel


@section head{
    <link href="~/Css/Schedule.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Schedule";
}

<h2 class="pageTitle">Schedule</h2>

<div class="row rowSpace">
    <div class="emailBg col-lg-6 col-md-6 col-sm-12">
        @Html.Action("CalendarEvents", "Scheduling")
        <div id="descriptionLink">
            @Html.ActionLink("Class Descriptions", "Services")
        </div>
    </div>
    <div class="embeddedCalendar col-lg-6 col-sm-12">

        @*<iframe src="https://calendar.google.com/calendar/embed?src=1bsqvetv4mdpqug5aqsv8rf3kc%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" frameborder="0" scrolling="yes"></iframe>*@
        <iframe src="https://calendar.google.com/calendar/embed?src=hannamyerselitek9%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" frameborder="0" scrolling="yes"></iframe>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <br />
            <div class="form-horizontal emailForm">
                <h4>Send us an email to RSVP</h4>
                <h4 class="emailSent">@ViewBag.sent</h4>
                <hr id="formLine" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-3">Email:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.SendersEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SendersEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">First Name:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Last Name:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Message:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control messageBox" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="submitForm">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Send Email" class="btn btn-default" />
                    </div>
                </div>
                
            </div>
        }
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
