
@section head{
    <link rel="stylesheet" type="text/css" href="~/Css/servicesCss.css" />
}

@{
    ViewBag.Title = "Services";
}


<div class="col-lg-12 col-xs-12 qualificationsText">
    <h1 class="warningHeading">Before Class Begins You Must!</h1>
    <p class="warningText">
        RSVP required for class. Updated shot records provided at
        the start of first class or dog may not participate.
        Handler must disclose before hand if dog has had any issues
        with aggression towards other dogs or people. If handler fails to disclose this
        information and there is an issue in class, dog and handler will be asked
        to leave and forfeit their class payment.
    </p>
</div>

<br />
<hr class="hrStyle" />
<br />

<div class="how-section1">
    <div class="row rowSpace">
        <div class="col-md-6 col-sm-12">
            <img class="image" src="~/images/dog1.jpeg" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Basic Obedience </h4>
            <h4 class="subheading">$400 - 4 week course, 3 days a week. Hour long class</h4>
            <p class="text-muted">
                Designed to teach socialization and owner communication with canine.
                Building a relationship between dog and handler.
                So that dog learns what is expected from them in a way they can understand.
                recognition of voice commands and hand signals will be established.
                Basics of walking on a loose leash, sit, down, stay, come, wait, off and leave-it will be taught.
                Animal behavior and dog body language is learned in this course.
                So that the handler can better understand what it is that the dog may need from a situation.
            </p>
            <p class="dateLink">
                @Html.ActionLink("View the class schedule", "schedule", "Scheduling")
            </p>
        </div>
    </div>

    

    
    <hr class="hrStyle" />

    <div class="row rowSpace">
        <div class="col-md-6">
            <h4>Advanced Obedience</h4>
            <h4 class="subheading">$1000 - 12-week course-3 days a week-hour long class</h4>
            <p class="text-muted">
                <b>
                    Completion of basic obedience required before attending class.
                    Proof of updated shot records must be on file or provided before first class.
                </b>
                Solidifies obedience with verbal and non-verbal hand signals.
                Introduces off leash training with mild distractions.
                Focuses on proofing basic skills in environments regardless of impulse or distraction.
                Working in outside environments away from facility.
                Introducing specialized sports training at handlers request.
                I.E scent training, agility, competition obedience, rally, AKC testing and trick dog testing.
            </p>
            <p class="dateLink">
                @Html.ActionLink("View the class schedule", "schedule", "Scheduling")
            </p>
        </div>
        <div class="col-md-6 col-sm-12">
            <img class="image" src="~/images/dog2.jpeg" alt="" />
        </div>
    </div>

    

    <hr class="hrStyle" />

    <div class="row rowSpace">
        <div class="col-md-6 col-sm-12">
            <img class="image" src="~/images/dog3.jpeg" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Private one on one training sessions</h4>
            <h4 class="subheading">$65 - one-hour class</h4>
            <p class="text-muted">
                These sessions allow for one on one instruction from a trainer.
                These sessions are designed for the handler to focus on very specific things they would like
                to accomplish with the help of the trainer outside of class.
                These sessions can also be conducted at the home environment of the handler.
                Extra charges apply for clients who live 20 minutes away from facility.
            </p>
            <p class="dateLink">
                @Html.ActionLink("View the class schedule", "schedule", "Scheduling")
            </p>
        </div>
    </div>

    

    <hr class="hrStyle" />

    <div class="row rowSpace">
        <div class="col-md-6">
            <h4>AKC Testing: AKC Trick Dog Testing</h4>
            <h4 class="subheading">$25 - per test pass or fail</h4>
            <p class="text-muted">
                American Kennel club association testing is another way for handlers and their
                dogs to receive recognition for their achievements. Each test is designed to show
                case that the dog can conduct itself politely and with good manners in pet friendly places.
                It also demonstrates that the dog can perform basic and advanced obedience skills well out in public.
                These tests include, the Canine good citizen, canine good citizen urban and the canine good citizen advanced.
            </p>
            <p class="dateLink">
                @Html.ActionLink("View the class schedule", "schedule", "Scheduling")
            </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <img class="image" src="~/images/dog4.jpeg" alt="" />
        </div>
    </div>

    
    <hr class="hrStyle" />

    <div class="row rowSpace">
        <div class="col-md-6 col-sm-12">
            <img class="image" src="~/images/dog5.jpeg" alt="" />
        </div>
        <div class="col-md-6">
            <h4>Puppy Beginners class</h4>
            <h4 class="subheading">$225 - 6 week course-1 day a week-hour long class</h4>
            <p class="text-muted">
                Introduction to basic commands. Potty training. Crate or kennel training.
                Proper socialization. Body language. Teething and or nipping.
                Teaching proper social manners and how to maintain them as puppy gets older.
                Vet recommendations. Food and nutrition advise. Age appropriate toys.
                Introduction to leash and loose leash walking. Preparation for AKC puppy star test.
                Taking and passing AKC puppy S.T.A.R test at end of class.
            </p>
            <p class="dateLink">
                @Html.ActionLink("View the class schedule", "schedule", "Scheduling")
            </p>

        </div>
    </div>
</div>


@section scripts{
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}

<hr class="hrStyle" />







