@model EliteK9.Models.EmailModel

@{
    ViewBag.Title = "Contact";
}

@section head{
    <link href="~/Css/ContactCss.css" rel="stylesheet" id="bootstrap-css">
    <meta name="description" content="Elite K9 Tacoma WA. Contact us about our dog training classes.">
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-lg-6">
        <div class="info">
            <address>
                <strong>Elite K_9</strong>
                <br>5617 South Tacoma Way
                <br>Tacoma, Washington
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>(253) 209-5893
                <br>
                <abbr title="Email">E:</abbr> <a href="mailto:hannamyers@hotmail.com">hannamyers@hotmail.com</a>
            </address>
            <a href="https://www.facebook.com/EliteK9Tacoma/"> <img src="~/images/f-ogo_RGB_HEX-58.png" alt="Facebook Logo" /> </a>
        </div>
    </div>

    <div class="col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal emailForm">
                <h4>Send us an email for more information.</h4>
                <h4 class="emailSent">@ViewBag.sent</h4>
                <hr id="formLine" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-3">Email:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.SendersEmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SendersEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">First Name:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Last Name:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">Message:</label>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control messageBox" } })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="submitForm">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Send Email" class="btn btn-default" alt="submit send email form" aria-label="submit email" />
                    </div>
                </div>

            </div>
        }
    </div>
</div>